.header-color {
  background: #00d2ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  


}

.landing-grid {
  background: #00d2ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  

  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}
/*Landing Page CSS */
.avatar-img {
  height: 40%;
  padding-top: 5em;
}

.banner-text {
  background-color: black;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  color: white;
}

.banner-text h3 {
  font-size: 44px;
  font-style: italic;
  color: white;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 2em;
  
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;

}

.social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
}

.social-links :hover {
  opacity: 0.8;
}

.landing-title {
  font-family: 'Anton', sans-serif;
  margin-top: 5em;
}

/*Projects Page CSS */
.projects-grid {
  display: flex;
}

/*About me Page CSS*/
.contact-body {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em; 
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  margin-bottom: 20px;
}

.contact-grid h2 {
  font-family: 'Anton', sans-serif;
}

.contact-grid p {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}
.contact-list {
  justify-content: left;
  width: 80%;
}
.contact-list i {
  font-size: 66px;
  padding-right: 5rem;
}

/*Cv Page CSS */
.cv-right-col {
  background: #434343;
  color: white;
  padding: 2em;
}
.cv-right-col li {
  color: white;
}

.cv-right-col h4 {
  margin-top: '0px';
}

.cv-left-col {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  text-align: center;
  justify-content: center;
}

.cv-left-col hr {
  margin: auto;
  width: 100%;
  border-top: 3px solid #5B86E5;
}

.cv-left-col p {
  font-family: 'Roboto', sans-serif;
  margin: auto;
  width: '50%';
  justify-content: center;
  padding-top: '5em';
  padding-bottom: '5em'; 
}

.cv-social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.cv-right-col hr {
  margin: auto;
  width: 100%;
  border-top: 3px solid #36D1DC;
}

.cv-social-links i {
  color: black;
  font-size: 2em;
  padding: 8px;
}

.cv-avatar-img {
  height: 30%;
  padding-top: 1em;
}

.cv-icon-row {
  display: flex;
  justify-content: space-between;
  margin: 5em;
}


.cv-program {
  height: 75px;
  width: 75px;
 
}

.cv-eigenschappen {
  text-align: center;
  padding-bottom: 1em;
}
.cv-text {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}


